<!-- Navbar -->
    <nav class="bg-white border-b border-zinc-200 sticky top-0 z-50 shadow-sm">
        <div class="max-w-6xl mx-auto px-6 py-5 flex justify-between items-center">
            <!-- <div class="text-2xl font-bold tracking-tight">Debjyoti Saha Roy</div> -->
            <div class="text-2xl font-bold tracking-tight">
                Debjyoti Saha Roy
                <span class="text-xl font-medium text-zinc-400">• দেবজ্যোতি সাহা রায়</span>
            </div>
            <div class="flex gap-8 text-sm font-medium">
                <a href="index.html" class="nav-link text-blue-600">Home</a>
                <a href="#" class="nav-link">About</a>
                <a href="research.html" class="nav-link">Research</a>
                <!-- <a href="#" class="nav-link">Publications</a> -->
                <!-- <a href="#" class="nav-link">Teaching</a> -->
                <a href="#" class="nav-link">CV</a>
            </div>
        </div>
    </nav>